In [ ]:
! pip install ipython-sql

In [1]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [2]:
%load_ext sql

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

# Connection parameters
host = config.get('CLUSTER', 'HOST')
dbname = config.get('CLUSTER', 'DB_NAME')
user = config.get('CLUSTER', 'DB_USER')
password = config.get('CLUSTER', 'DB_PASSWORD')
port = config.get('CLUSTER', 'DB_PORT')

In [4]:
print(dbname)
print(user)
print(password)
print(port)
print(host)

sparkifydb
dwhadmin
Passw0rdd
5439
sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com

In [8]:
%%sql
postgresql://${user}:${password}@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/${dbname}

(psycopg2.OperationalError) connection to server at "sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com" (44.225.172.0), port 5439 failed: FATAL:  password authentication failed for user "$dwhadmin"
connection to server at "sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com" (44.225.172.0), port 5439 failed: FATAL:  password authentication failed for user "$dwhadmin"

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%env DATABASE_URL=postgresql://${user}:${password}@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb

env: DATABASE_URL=postgresql://$dwhadmin:$Passw0rdd@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb

In [7]:
%sql SELECT * FROM staging_events_table LIMIT 5;

(psycopg2.OperationalError) connection to server at "sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com" (44.225.172.0), port 5439 failed: FATAL:  password authentication failed for user "$dwhadmin"
connection to server at "sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com" (44.225.172.0), port 5439 failed: FATAL:  password authentication failed for user "$dwhadmin"

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%sql SELECT COUNT(*) FROM staging_events_table;

In [ ]:
%sql SELECT * FROM staging_songs_table LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM staging_songs_table;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM users;

In [ ]:
%sql SELECT * FROM songs LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM songs;

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM artists;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM time;

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT COUNT(*) FROM songplays;

## Sanity Check

### Check Table Names

In [ ]:
import sql_queries as sqlq

In [ ]:
%%sql _tablenames <<
SELECT tablename FROM pg_catalog.pg_tables AND schema_name != 'information_schema' AND tablename NOT LIKE 'pg_%' AND tablename NOT LIKE 'sql_%';

In [ ]:
tablenames = _tablenames.DataFrame()

In [ ]:
user_table = [name for name in list(tablenames.tablename) if name in sqlq.user_table_create][0]
song_table = [name for name in list(tablenames.tablename) if name in sqlq.song_table_create][0]
artists_table = [name for name in list(tablenames.tablename) if name in sqlq.artist_table_create][0]
songplay_table = [name for name in list(tablenames.tablename) if name in sqlq.songplay_table_create][0]