In [1]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [9]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

# Connection parameters
DWH_DB= config.get("DWH", "DWH_DB")
DWH_DB_USER= config.get("DWH", "DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH", "DWH_DB_PASSWORD")
DWH_PORT= config.get("DWH", "DWH_PORT")
DWH_ENDPOINT = config.get("DWH", "DWH_ENDPOINT")

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
conn = "postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn)
%sql $conn

postgresql://dwhadmin:Passw0rdd@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb

In [20]:
%env DATABASE_URL=postgresql://${user}:${password}@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb

env: DATABASE_URL=postgresql://${user}:${password}@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb

In [29]:
%sql SELECT * FROM staging_events_table LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(4, 'A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.911, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, 1541377992796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 (12, 'Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.778, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Serve The Servants', 200, 1541381242796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 (20, 'Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.498, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'See No Evil  (Remastered LP Version)', 200, 1541381456796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 (28, 'JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.435, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Blues To Bechet (LP Version)', 200, 1541381694796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 (36, 'NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.7963, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, "It's My Job To Keep Punk Rock Elite", 200, 1541382040796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44)]

In [30]:
%sql SELECT COUNT(*) FROM staging_events_table;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(8056,)]

In [31]:
%sql SELECT * FROM staging_songs_table LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(4, 'SOIGICF12A8C141BC5', 'Game & Watch', 580.545, 2004, 'AREWD471187FB49873', 'Son Kite', None, None, '', 1),
 (12, 'SOBRKGM12A8C139EF6', 'Welcome to the Pleasuredome', 821.054, 1985, 'ARXQBR11187B98A2CC', 'Frankie Goes To Hollywood', None, None, 'Liverpool, England', 1),
 (20, 'SOHOZBI12A8C132E3C', 'Smash It Up', 195.395, 2000, 'AR0MWD61187B9B2B12', 'International Noise Conspiracy', None, None, '', 1),
 (28, 'SOWBWRV12A6D4FB3D0', 'I Know You', 307.461, 0, 'AR1LOGZ1187B990FB4', 'Mike Stern', None, None, 'Boston, MA', 1),
 (36, 'SONHGLD12AB0188D47', 'Our Father', 202.422, 1999, 'AR1S3NH1187B98C2BC', 'Anthony B', None, None, 'Clarks Town, Jamaica', 1)]

In [32]:
%sql SELECT COUNT(*) FROM staging_songs_table;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [33]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(7, 'Adelyn', 'Jordan', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free'),
 (90, 'Andrea', 'Butler', 'F', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free')]

In [34]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(97,)]

In [35]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('SOONYFK12A6D4F442C', ' Dry Techterlech', 'AR2SZ2A1187FB5A5FF', 0, Decimal('232')),
 ('SOPMHBX12A8AE47391', "'39 (Swingin' Utters)", 'AROBOIW11F4C84748F', 0, Decimal('199')),
 ('SOUWPFR12A8C13EEC4', "'Pathétique' Sonata (Op. 13 - II: Adagio Cantabile)", 'ARKU15L1187B99198D', 0, Decimal('324')),
 ('SOANTAD12A6D4F6CCC', "'Round Midnight (Live)", 'ARJEL6T1187B9A0601', 0, Decimal('477')),
 ('SOGZZST12A6D4F6990', "'Til I Can Make It On My Own", 'AR9HFG31187FB37110', 0, Decimal('201'))]

In [36]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [37]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('ARTW7I31187B9A4CA9', '!!!', '', None, None),
 ('ARRPWJ81187B99FB84', '& And Oceans', '', None, None),
 ('ARY35JW1187B998233', "'68 Comeback", '', None, None),
 ('ARHZZOQ1187B9AE734', "'t Hof Van Commerce", '', None, None),
 ('AR1NRFQ1187B994284', '-123min.', '', None, None)]

In [38]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(9553,)]

In [39]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 34, 17), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 26, 49), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 2, 20), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 11, 24), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 13, 59), 10, 2, 44, 11, 2018, 5)]

In [40]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(8056,)]

In [41]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(238, 1541181762796, '50', 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 207, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (302, 1541687228796, '81', 'free', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 317, 'Las Cruces, NM', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1006, 1542023125796, '26', 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 491, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (854, 1542193779796, '86', 'free', 'SOKYHYL12A8C13D79D', 'AROSI8L1187B9ACD43', 498, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (2054, 1542996661796, '86', 'free', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 869, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [42]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(319,)]

## Sanity Check

### Check Table Names

In [23]:
import sql_queries as sqlq

In [24]:
%%sql _tablenames <<
SELECT tablename 
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema' AND tableowner = 'dwhadmin';

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
7 rows affected.
Returning data to local variable _tablenames

In [25]:
tablenames = _tablenames.DataFrame()

In [26]:
user_table = [name for name in list(tablenames.tablename) if name in sqlq.user_table_create][0]
song_table = [name for name in list(tablenames.tablename) if name in sqlq.song_table_create][0]
artists_table = [name for name in list(tablenames.tablename) if name in sqlq.artist_table_create][0]
songplay_table = [name for name in list(tablenames.tablename) if name in sqlq.songplay_table_create][0]
staging_events_table = [name for name in list(tablenames.tablename) if name in sqlq.staging_events_table_create][0]

## Run Primary Key Test

In [22]:
%sql _output << SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                    AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid = '{user_table}'::regclass;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
(psycopg2.errors.WrongObjectType) op ANY/ALL (array) requires array on right side

[SQL: SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary FROM pg_index i JOIN pg_attribute a ON a.attrelid = i.indrelid AND a.attnum = ANY(i.indkey) WHERE i.indrelid = 'users'::regclass;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Run Data Type and Constraints Check

In [23]:
%sql _output << SELECT * FROM information_schema.tables WHERE table_schema = 'public';

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
7 rows affected.
Returning data to local variable _output

In [24]:
%sql _output << SELECT * FROM information_schema.columns WHERE table_name = '{user_table}';

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the column `user_id` for correct data type.**
If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using a different column name. Change the column name below and run the cell again.

In [25]:
output = _output.DataFrame()
_dtype = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type {_dtype} may not be an appropriate data type for column 'user_id' in the '{user_table}' table.")

In [26]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{song_table}'

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.
Returning data to local variable _output

**Check the column `year` for correct data type.
Check columns `title` and `duration` for not-NULL constraints.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [32]:
output = _output.DataFrame()

_dtype = output[output.column_name == 'year'].data_type.iloc[0]
if _dtype not in ['integer']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype}' may not be an appropriate data type for column 'year' in the '{song_table}' table.")

_nullable_title = output[output.column_name == 'title'].is_nullable.iloc[0]
_nullable_duration = output[output.column_name == 'duration'].is_nullable.iloc[0]
if (_nullable_duration != 'NO') or (_nullable_title != 'NO'): 
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{song_table}' table.")

[WARNING] Type 'smallint' may not be an appropriate data type for column 'year' in the 'songs' table.

**Check the columns `latitude` and `longitude` for correct data type.
Check column `name` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [48]:
output = _output.DataFrame()

_dtype_latitude = output[output.column_name == 'latitude'].data_type.iloc[0:2]
if _dtype_latitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_latitude}' may not be an appropriate data type for column 'latitude' in the '{artists_table}' table")

_dtype_longitude = output[output.column_name == 'longitude'].data_type.iloc[0]
if _dtype_longitude not in ['double precision']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_longitude}' may not be an appropriate data type for column 'longitude' in the '{artists_table}' table")


_nullable_name = output[output.column_name == 'name'].is_nullable.iloc[0]
if _nullable_name != 'NO':
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{artists_table}' table.")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [49]:
%sql SELECT count(user_id), level, gender FROM users GROUP BY level, gender;

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
4 rows affected.

[(45, 'free', 'F'), (38, 'free', 'M'), (10, 'paid', 'F'), (4, 'paid', 'M')]

In [50]:
%sql _output << SELECT * FROM information_schema.columns where table_name='{songplay_table}'

 * postgresql://dwhadmin:***@sparkifycluster.csnopveq31le.us-west-2.redshift.amazonaws.com:5439/sparkifydb
9 rows affected.
Returning data to local variable _output

**Check the columns `start_time` and `user_id` for correct data type.
Check columns `start_time` and `user_id` for not-NULL constraint.**

If you get a `IndexError: single positional indexer is out-of-bounds` error, you may be using different column names. Change the column name(s) below and run the cell again.

In [58]:
output = _output.DataFrame()

_dtype_start_time = output[output.column_name == 'start_time'].data_type.iloc[0]
if 'timestamp' not in _dtype_start_time: 
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_start_time}' may not be an appropriate data type for column 'start_time' in the '{songplay_table}' table.")



_dtype_user_id = output[output.column_name == 'user_id'].data_type.iloc[0]
if _dtype_user_id not in ['integer', 'bigint']:
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_user_id}' may not be an appropriate data type for column 'user_id' in the '{songplay_table}' table.")


_nullable_time = output[output.column_name == 'start_time'].is_nullable.iloc[0]
_nullable_uid = output[output.column_name == 'user_id'].is_nullable.iloc[0]

if (_nullable_time != 'NO') or (_nullable_uid != 'NO'):
    print('\033[93m'+'[WARNING] '+ f"You may want to add appropriate NOT NULL constraints to the '{songplay_table}' table.")

[WARNING] Type 'bigint' may not be an appropriate data type for column 'start_time' in the 'songplays' table.
[WARNING] Type 'character varying' may not be an appropriate data type for column 'user_id' in the 'songplays' table.
[WARNING] You may want to add appropriate NOT NULL constraints to the 'songplays' table.

In [68]:
output = _output.DataFrame()

_dtype_ts = output[output.column_name == 'ts'].data_type.iloc[0:1]
if 'timestamp' not in _dtype_ts: 
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_ts}' may not be an appropriate data type for column 'ts' in the '{staging_events_table}' table.")

[WARNING] Type 'Series([], Name: data_type, dtype: object)' may not be an appropriate data type for column 'ts' in the 'staging_events_table' table.

In [67]:
output = _output.DataFrame()

_dtype_start_time = output[output.column_name == 'start_time'].data_type.iloc[0]
if 'timestamp' not in _dtype_start_time: 
    print('\033[93m'+'[WARNING] '+ f"Type '{_dtype_start_time}' may not be an appropriate data type for column 'start_time' in the '{time}' table.")

NameError: name 'time' is not defined